.header {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    color: white;
    overflow-x: scroll;

    scrollbar-width: none;
}

.header::-webkit-scrollbar{
    display: none;
}

.header_icons{
    display: flex;
    align-items: center;
    text-align: center;
}
.header_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 6rem;
    color: white;
    text-decoration: none;
}
.header_icon p{
    display: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .12rem;
}
.header_icon:hover p{
    display: inline;
}

#active p{
    display: inline;
}

.header img{
    object-fit: contain;
    height: 5rem;
}